<div class="container" style="max-width:800px">
    <div class="middlepart">
        <div ng-show="jobs.length === 0">
            You don't have any job yet! <a href="/create">Create</a> one now.
        </div>
        <div ng-show="jobs.length > 0">
            <table class="table table-striped table-bordered">
                <tr><th>SMILES</th><th>Job Start Time</th><th>Status</th></tr>
                <tr ng-repeat="job in jobs">
                    <td>{{job.smiles}}</td>
                    <td>{{job.date | date: 'medium'}}</td>
                    <td ng-if="job.status == 2">Error</td>
                    <td ng-if="job.status == 1"><a href="/download/{{job._id}}" target="_self">Download</a></td>
                    <td ng-if="job.status == 0">In Progress</td>
                </tr>
            </table>
        </div>
    </div>
</div>